.App {
  width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}


.counters {
  display: flex;
  justify-content: center;
  gap: 30px;
  
}

.counter {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
    
}

.counter p {
  background-color: blueviolet;
  color: white;
  font-size: 64px;
  width: 100px;
  text-align: center;
  border-radius: 10%;
}

.reset {
  display: flex;
  justify-content: center;
  
}


.hide {
  display: none;
}